//$brand-color:         #fede00;
$brand-color:         #131B31;//#0F2540;//#113285;
$highlight:           lighten($brand-color, 35%);
//$text-color:          #0b0404;
//$text-color:          #FFFEFF;
$text-color:          #F5F5F5;
$post-color:          #1F1F1F;//#01242E;
//$muted-text-color:    #64644B;
$muted-text-color:    #7DB9DE;//#ccd6f6;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;